beautifulsoup4==4.13.0b2
blinker==1.8.2
cachelib==0.13.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
dnspython==2.6.1
Flask==3.0.3
Flask-Cors==5.0.0
Flask-Session==0.8.0
html5lib==1.1
idna==3.8
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
msgspec==0.18.6
numpy==2.1.1
pandas==2.2.2
pathlib==1.0.1
pymongo==4.9.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
redis==5.0.8
requests==2.32.3
requests-html==0.10.0
setuptools==74.1.2
six==1.16.0
soupsieve==2.6
SpotifyPlaylistConverter==1.0
spotipy==2.24.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
Werkzeug==3.0.4
youtube-dl==2021.12.17
